/* --- Global Rules --- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* --- General Rules --- */

/* Set max-width of page content to be 1500px by wrapping all HTML-content inside a div which is direct child of <body> */
.gbl-container.body {
  max-width: 1500px;
  margin: 0 auto 0;
}

/* --- Navbar --- */

/* --- Banner --- */
.banner-container {
  margin-top: 10px;
  padding: 1%;
  height: 100%;
}
.banner-sub.media {
  display: flex;
  justify-content: center;
}
.banner-sub.media img {
  display: block;
  width: 70%;
}
/* ToDo Banner: Add mediaQuery so img takes up more space when on smaller screens, maybe remove padding? */
