/* --- Global Rules --- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* --- General Rules --- */

/* Set max-width of page content to be 1500px by wrapping all HTML-content inside a div which is direct child of <body> */
.custom-width-wrapper {
  max-width: 1500px;
  margin: 0 auto 0;
}

/* --- Navbar --- */
/* Set Navbar background, override with !important */
#custom-style {
  background-color: rgb(251, 244, 222) !important;
}

/* Custom Styling for Navbar Search Button */
.btn-nav-search {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ced4da;
  background-color: white;
}

/* Added space-around on navbar content */
.navbar-nav {
  justify-content: flex-end;
  width: 100%;
}

/* --- Banner --- */
/* TODO: CHANGE ALL CLASSES WITH BANNER TO HERO */
.banner-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  height: 60vh;
}
.banner-sub.media {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: url('https://images.unsplash.com/photo-1481437156560-3205f6a55735?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1790&q=80')
    no-repeat;
  background-size: cover;
  background-position: bottom;
  /* Todo: Change Color-Temp of Image to make Banner Text more readable */
}

.banner-text {
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  text-align: center;
  text-shadow: 0px 0px 16px rgb(0, 0, 0);
}

/* Landing Page Content TODO ADD CONTENT */

.landing-content-container.top {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
  height: 50vh;
}

.landing-content-container.bot {
  /* Add cards, use grid? 3 cards, products, about, contact */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  padding: 30px;
}

@media (max-width: 900px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.grid-item {
  border: 1px solid red;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  font-weight: bold;
  font-size: clamp(0.8rem, -0.575rem + 5.333vw, 1.5rem);
}

/* Grid Item Images */

.grid-item img {
  height: 50%;
  width: 100%;
  object-fit: contain;
}

/* Modal for product details */

.modal-container {
  display: none;
  z-index: 0;
  padding: 1%;
  position: fixed;
  border: 1px solid rgb(144, 144, 144);
  border-radius: 5px;
  background-color: rgba(168, 168, 168, 0.561);
  width: 100%;
  height: 100vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  display: block;
  z-index: 2;
  position: absolute;
  width: 80%;
  height: 50%;
  background-color: white;
  border: 1px solid blue;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}

.modal-container.active {
  display: block;
}
